
html, body, #root {
  margin: 0;
  padding: 0;
  width: 100%;
  z-index: 1000;
}
.title {
  font-size: 2em;
  font-weight: 600;
  margin-bottom: 0.5em;
  position: static;
  text-align: center;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  letter-spacing: 4px;
  font-size: 64px;
  color: #ffffff
}

.about {
  font-size: 1.2em;
  font-weight: 400;
  margin-bottom: 0.5em;
  position: static;
  text-align: center;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  letter-spacing: 4px;
  font-size: 24px;
  color: #ffffff
}

.footer {
  font-size: 1.2em;
  font-weight: 400;
  margin-bottom: 0;
  position: fixed;
  bottom: 0;
  height: 30px;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  letter-spacing: 1px;
  font-size: 14px;
  color: #ffffff
  
}
